# model : RFPLAYER ZiBlue
# description : RFP1000 Radio Frequency transceivers 433 Mhz and 868 Mhz
DRIVERS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001",  ATTRS{product}=="RFPLAYER", SYMLINK+="rfp1000", MODE="0666"
