{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
{% include theme("client_menu.html") %}

{% include "plugin_rfplayer_menu.html" %}
{% if manager.rfPlayers|length == 0 %}
    <div class="container">
    <h2>{% trans %}Welcome on RFPlayer advanced{% endtrans %}</h2>
    {% if manager.status in ['dead','stopped'] %}
        <h2>{% trans %}Start plugin to open communication with RFPlayer dongle(s){% endtrans %}</h2>
    {% else %}
        <h2>{% trans %}Create a domogik device for your first RFPlayer dongle{% endtrans %}</h2>
    {% endif %}
    </div>
{% else %}
    <div class="container" id="general-page" hidden>
    {% include "general.html" %}
    </div>
    <div class="container" id="reception-page" hidden>
    {% include "reception.html" %}
    </div>
    <div class="container" id="emission-page" hidden>
    {% include "emission.html" %}
    </div>
    <div class="container" id="parrot-page" hidden>
    {% include "parrot.html" %}
    </div>
    <div class="container" id="transcoder-page" hidden>
    {% include "transcoder.html" %}
    </div>
    <div class="container" id="system-page" hidden>
    {% include "system.html" %}
    </div>
    <div class="container" id="repeater-page" hidden>
    {% include "repeater.html" %}
    </div>
    <div class="container" id="update-page" hidden>
    {% include "update.html" %}
    </div>
{% endif %}

<script type="text/javascript">

    function toggleVisible(target_selector, icon_selector) {
      var $target = $("[id^='"+target_selector+"']" );
      if ($target.is(':hidden')) {
        $target.show("fast" );
        $('#'+icon_selector).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
      } else {
        $target.hide( "fast" );
        $('#'+icon_selector).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
      };
    };

    function validateRegex(source, regex){
      //  regex = "^0x([0-9A-F]{2}){4}$|^[1-9]$|^[0-9]{2,9}$";
        var re = new RegExp(regex);
        var id = source.id.split("cmdsys_")[1];
        if (re.test(source.value)) {
            $(source).parent().removeClass("has-error ").addClass("has-success");
            $('#cmdsysSend_'+id).removeAttr("disabled").attr("data-original-title", "OK").tooltip({ html:true });
            return true;
        } else {
            $(source).parent().removeClass("has-success").addClass("has-error");
            var title = $(source).attr("placeholder")
            $('#cmdsysSend_'+id).attr("disabled", "").attr("data-original-title", title).tooltip({ html:true });
            return false;
        };
    };

    function requestRefreshDongle(action, rfplayerID) {
        sendRequest("rfplayer.client.getinfos", {"rfplayerID": rfplayerID}, function(data, result) {
            if (result == "error" || data.result == "error") {
                new PNotify({
                    type: 'error',
                    title: '{% trans %}Refresh RFPLayer dongle{% endtrans %}',
                    text: data.content.error,
                    delay: 6000
                });
            } else {
                renderBlockGeneral(data.content);
                renderBlockSystem(data.content);
                $("#general-pre").text(JSON.stringify(data.content, null, 4));
                $("#reception_protocols").append(renderFormProtocols('receiver', data.content.status.systemStatus.protocols.receiver));
                for (var b=0; b < data.content.status.radioStatus.length; b++) {
                    $("#reception-cont").append("<div  id='panel_"+data.content.status.radioStatus[b].band+"'>"+
                                renderBlockBand(data.content.status.radioStatus[b])+
                                "</div>");
                }
                $("#cmdprotocols").html(renderFormCommand(data.content.status.systemStatus.protocols.transmitter));
                $("#repeater_protocols").append(renderFormProtocols('repeater', data.content.status.systemStatus.protocols.repeater));
                renderBlockTranscoderList(data);
                $('[data-toggle="tooltip"]').tooltip({
                    html:true
                });
                new PNotify({
                    type: 'success',
                    title: '{% trans %}Refresh RFPLayer dongle{% endtrans %}',
                    text: '{% trans %}All data refreshed{% endtrans %}',
                    delay: 4000
                });
            };
        });
    };

    function switchDonglePage(dongle, oldpage, newpage) {
        $('#'+oldpage+'-page').hide();
        $('#'+oldpage+'-menu').parent().removeClass('active');
        $('#'+newpage+'-page').show();
        $('#'+newpage+'-menu').parent().addClass('active');
        donglemenu_active = newpage;
    };

    function renderValueParam(name, params) {
        var comment = '';
        if (params.comment != "") {comment = ' ('+params.comment+')';};
        return '<div class="col-md-3"><li title="'+params.help+'"><b>'+name+' :</b> '+params.value+' '+params.unit+comment+'</li></div>';
    };

    function renderCmdSystem(name, params) {
        var help = "";
        if (params.help != "") {
            help = '<span class="fa fa-info-circle fa-lg icon-info" data-toggle="tooltip" data-placement="top" title="'+params.help+'"></span>';
        };
        if (params.cmd.type=='select') {
            var html = '<div class="col-md-4"><div class="input-group placeholder">'+
                '<label for="cmdsys_'+params.cmd.name+'" data-toggle="tooltip" data-placement="left" title="'+params.cmd.params.help+'">'+name+' : '+help+'</label>'+
                '<select class="form-control actdisable" id="cmdsys_'+params.cmd.name+'" onchange="setCmdSystem(this);">'+
                '<option hidden >{% trans %}Select option{% endtrans %}</option>';
            for (option in ordered(params.cmd.params.values)) {
                html += '<option value="'+option+'">'+params.cmd.params.values[option]+'</option>';
            };
            html += '</select></div></div>';
        } else if (params.cmd.type=='string') {
            html =  '<div class="col-md-4" id="cmdsysOpt_'+params.cmd.name+'">'+
                '<label for="cmdsys_'+params.cmd.name+'">'+name+' : '+help+'</label>'+
                '<div class="input-group">'+
                    '<input type="text" class="form-control input-sm" id="cmdsys_'+params.cmd.name+'" placeholder="'+params.cmd.params.help+'" onchange="return(validateRegex(this, '+"'"+params.cmd.params.values+"'"+'));">'+
                    '<span class="input-group-addon">'+
                        '<span id="cmdsysSend_'+params.cmd.name+'" class="btn btn-xs btn-info" onclick="setCmdSystem($('+"'#cmdsys_"+params.cmd.name+"'"+')[0]);" data-toggle="tooltip" data-placement="right" title="'+params.cmd.params.help+'">'+
                            '<span class="glyphicon glyphicon-send">'+
                            '</span>'+
                        '</span>'+
                    '</span>'+
                '</div>'+
            '</div>';
        } else if (params.cmd.type=='empty') {
            html =  '<div class="col-md-4" id="cmdsysOpt_'+params.cmd.name+'">'+
                '<label for="cmdsys_'+params.cmd.name+'">'+name+' : '+help+'</label>'+
                '<button type="button" class="btn btn-primary center-block" id="cmdsys_'+params.cmd.name+'" style="margin-left: inherit;" onclick="setCmdSystem(this);" data-toggle="tooltip" data-placement="left" title="'+params.cmd.params.help+'>'+
                    '<i id="cmdsys-ic_'+params.cmd.name+'" class="fa fa-paper-plane icon-success" aria-hidden="true"></i><span id="cmdsys-text_'+params.cmd.name+'"> '+params.cmd.name+'</span>'+
                '</button>'+
            '</div>';
        };
        return html;
    };

    function renderSelectParam(name, params) {
        var help = "";
        if (params.help != "") {
            help = '<span class="fa fa-info-circle fa-lg icon-info" data-toggle="tooltip" data-placement="top" title="'+params.help+'"></span>';
        };
        var html = '<div class="col-md-3"><div class="input-group placeholder">'+
            '<label for="'+name+'" data-toggle="tooltip" data-placement="left" title="'+params.command.help+'">'+name+' : '+help+'</label>'+
            '<select class="form-control actdisable" id="'+name+'" onchange="setBandParam(this);">';
        for (option in ordered(params.command.values)) {
            selected = ''
            if (option == params.value) {selected = " selected";};
            html += '<option value="'+option+'"'+selected+'>'+params.command.values[option]+'</option>';
        };
        html += '</select></div></div>';
        return html;
    };

    function renderFormProtocols(mode, protocol) {
        var html = "<form id='protocols_"+mode+"'>";
        for (var p in ordered(protocol)) {
            checked = ""
            if (protocol[p]) {checked = "checked";};
              html += "<label class='checkbox-inline' style='margin-left: 50px;'><input type='checkbox' class='rf_protocol' onchange='toggleProtocol(this, "+'"'+mode+'"'+")' value='"+p+"'"+checked+">"+p+"</label>";
        };
        html += "</form>";
        return html;
    };

    function toggleProtocol(protocol, mode) {
        var state = protocol.checked;
        sendRequest("rfplayer.client.setprotocol", {"rfplayerID": activeDongle, "mode": mode, "protocol": protocol.value, "state": state}, function(data, result) {
            if (result == "error" || data.result == "error") {
                new PNotify({
                    type: 'error',
                    title: '{% trans %}RFPLayer protocol activation{% endtrans %}',
                    text: data.content.rfplayerID + " :" + data.content.error,
                    delay: 6000
                });
            } else {
                new PNotify({
                    type: 'success',
                    title: '{% trans %}RFPLayer protocol activation{% endtrans %}',
                    text: data.content.rfplayerID +" : "+ mode +" "+protocol.value+" = "+state,
                    delay: 6000
                });
            };
        });
    };

    function renderBlockBand(band) {
        var enable = "danger";
        var btBand = "<button class='btn btn-default center-block' id='runband_"+band.band+"' onclick='startStopBand(this)'>"+
                    "<i class='fa fa-play' id='runband-ic"+band.band+"' style='color:green'></i>"+
                        "<span id='runctrl-text"+band.band+"'> Activate</span>"+
                    "</button>";
        if (band.params.Frequency.value != "0" || band.params.RFlink.value == "1") {
            enable = "success";
            btBand = "<button class='btn btn-default center-block' id='runband_"+band.band+"' onclick='startStopBand(this)'>"+
                        "<i class='fa fa-stop' id='runband-ic"+band.band+"' style='color:red'></i>"+
                            "<span id='runctrl-text"+band.band+"'> Desactivate</span>"+
                        "</button>";
            };
        html = "<div class='panel panel-default'>"+
               "<div class='panel-heading'>"+
                    "<h4>{% trans %}Radio band{% endtrans %} <b>"+band.band+"</b>"+
                        "<div class='pull-right'><i id='band-ic_"+band.band+"' class='fa fa-2x fa-feed fa-rotate-180 icon-"+enable+"'></i></div>"+btBand+
                    "</h4>"+
               "</div>"+
               "<div class='panel-body' id='band_"+band.band+"'><form>"+
               "<div class='row'>";
        for (var param in ordered(band.params)) {
            if ('command' in band.params[param]) {
                html += renderSelectParam(param, band.params[param]);
            };
        };
        html += "</div><div class='well well-sm' style='margin-top: 10px;'><div class='row'>"
        for (var param in ordered(band.params)) {
            if (!('command' in band.params[param])) {
                html += renderValueParam(param, band.params[param]);
            };
        };
        html += "</div></div></form></div>";
        return html;
    };

    function renderFormCommand(protocols) {
        var html = "";
        for (p in ordered(protocols)) {
            html += "<option value="+p+">"+p+"</option>";
        };
        return html;
    };

    function setBandParam(source) {
        var band = $(source).closest(".panel-body")[0].id.slice(5);  // from "band_"
        var param = source.id;
        var value = source.value;
        sendRequest("rfplayer.client.setbandparam", {"rfplayerID": activeDongle, "band": band, "param": param, "value": value}, function(data, result) {
            if (result == "error" || data.result == "error") {
                new PNotify({
                    type: 'error',
                    title: '{% trans %}RFPLayer set band parameter{% endtrans %}',
                    text: data.content.rfplayerID + " :" + data.content.error,
                    delay: 6000
                });
            } else {
                new PNotify({
                    type: 'success',
                    title: '{% trans %}RFPLayer set band parameter{% endtrans %}',
                    text: data.content.rfplayerID +" ("+ band +") : "+param+" = "+value,
                    delay: 6000
                });
            };
        });
    };

    function startStopBand(source) {
        var band = source.id.slice(8);  // from "runband_"
        var value = false;
        if ($("#runband-ic"+band).hasClass('fa-stop')) {
            var value = "0";
            $("#runband-ic"+band).removeClass('fa-stop').addClass('fa-play').css({'color':'green'});
            $("#runctrl-text"+band).text(' Activate');
            $("#band-ic_"+band).removeClass('icon-success').addClass('icon-danger');
        } else {
            var values = $("#band_"+band).find('#Frequency').children();
            for (v=0; v < values.length; v++) {
                if ($(values[v]).text().indexOf("Default") >= 0) {
                    var value = $(values[v]).val();
                    break;
                };
            };
            if (!value) {
                for (v=0; v < values.length; v++) {
                    if ($(values[v]).val() != "0") {
                        var value = $(values[v]).val();
                        break;
                    };
                };
            };
            $("#runband-ic"+band).removeClass('fa-play').addClass('fa-stop').css({'color':'red'});
            $("#runctrl-text"+band).text(' Desactivate');
            $("#band-ic_"+band).removeClass('icon-danger').addClass('icon-success');
        };
        sendRequest("rfplayer.client.setbandparam", {"rfplayerID": activeDongle, "band": band, "param": 'Frequency', "value": value}, function(data, result) {
            if (result == "error" || data.result == "error") {
                new PNotify({
                    type: 'error',
                    title: '{% trans %}RFPLayer start/stop RF band{% endtrans %}',
                    text: data.content.rfplayerID + " :" + data.content.error,
                    delay: 6000
                });
            } else {
                if (value == "0") { value = "Stopped";
                } else { value = "started";};
                new PNotify({
                    type: 'success',
                    title: '{% trans %}RFPLayer start/stop RF band{% endtrans %}',
                    text: data.content.rfplayerID +" band "+band+"  "+value,
                    delay: 6000
                });
            };
        });
    };

    function setCmdSystem(source) {
        var cmd = source.id.slice(7);  // from "cmdsys_"
        var value = source.value;
        $('#cmdSys').text(cmd);
        $('#cmdVal').text(value);
        $('#confirmCmdSys').modal('show');
    };

    $( document ).ready(function() {
        var ws_onmessage_rfplayer = ws.onmessage;
        {% if manager.rfPlayers|length > 0 %}
            var container = document.getElementById(activeDongle);
            $('#general-page').appendTo(container).show();
            $('#reception-page').appendTo(container);
            $('#emission-page').appendTo(container);
            $('#parrot-page').appendTo(container);
            $('#transcoder-page').appendTo(container);
            $('#system-page').appendTo(container);
            $('#repeater-page').appendTo(container);
            $('#update-page').appendTo(container);
        {% endif %}
        ws.onmessage = function(e) {
            ws_onmessage_rfplayer(e);
            var data = JSON.parse(e.data);
            var msgId = data.msgid.split(".");
            if (msgId[0] == "rfplayer") {
                if (msgId[1] == "client") {
                    console.log(data);
                    if (msgId[2] == "state") {
                        {% if manager.rfPlayers|length == 0 %}
                            location.reload();
                        {% else %}
                            if (data.content.rfplayerID == activeDongle) {
                                if (data.content.monitored != '') {
                                    $("#btMonitor-ic").removeClass("fa-play icon-success").addClass("fa-stop icon-danger");
                                    $("#btMonitor-text").text(" Stop monitoring");
                                } else {
                                     $("#btMonitor-ic").removeClass("fa-stop icon-danger").addClass("fa-play icon-success");
                                    $("#btMonitor-text").text(" Start monitoring");
                                };
                                renderBlockGeneral(data.content);
                                for (mode in data.content.status.systemStatus.protocols) {
                                    $("#protocols_"+mode).html(renderFormProtocols(mode, data.content.status.systemStatus.protocols[mode]));
                                };
                                for (var b=0; b < data.content.status.radioStatus.length; b++) {
                                    $("#panel_"+data.content.status.radioStatus[b].band).html(renderBlockBand(data.content.status.radioStatus[b]));
                                };
                                var title = data.content.state;
                                switch (data.content.state) {
                                    case 'alive' :
                                        break;
                                    case 'stopped' :
                                        $("#manager-info").html("");
                                        $("[id^='ctrl-info']").html("");
                                        break;
                                    case 'starting' :
                                        $("#manager-info").html("");
                                        $("[id^='ctrl-info']").html("");
                                        break;
                                    case 'dead' :
                                        $("#manager-info").html("");
                                        $("[id^='ctrl-info']").html("");
                                        title += " :"+data.content.error;
                                        break;
                                    default :
                                        $("#manager-info").html("");
                                        $("[id^='ctrl-info']").html("");
                                        title += " :"+data.content.lasterror;
                                };
                                $("#ctrl-tab_"+data.content.rfplayerID).removeClass().addClass("label status-"+data.content.state).attr('data-original-title', title);
                                $('[data-toggle="tooltip"]').tooltip({ html:true });
                            };
                        {% endif %}
                    };
                };
                if (msgId[1] == "manager") {
                    if (msgId[2] == "state") {
                        switch (data.content.status) {
                            case 'dead' :
                                $("#manager-info").html("<i class='fa fa-exclamation-circle icon-danger'></i> " +
                                    "{% trans %}OUPS Plugin manager fail, check plugin_rfplayer.log in domogik log directory.{% endtrans %}<br>" + data.content.error);
                                break;
                            case 'starting' :
                                $("#manager-info").html("<i class='fa fa-smile-o icon-info'></i> " +
                                    "{% trans %}Plugin manager starting, dogle(s) should discover soon{% endtrans %}.");
                                $("[id^='ctrl-info']").html("");
                                break;
                            case 'alive' :
                                if (data.content.rfPlayers.length > 0) {
                                    $("#manager-info").html("<i class='fa fa-smile-o icon-success'></i> " +
                                        data.content.rfPlayers.length+" {% trans %}RFPlayer detected{% endtrans %}");
                                } else {
                                    $("#manager-info").html("<i class='fa fa-exclamation-circle icon-info'></i> " +
                                        "{% trans %}Plugin manager OK{% endtrans %}. {% trans %}There is no dongle detected on domogik devices{% endtrans %}.");
                                };
                                break;
                             default :
                                $("#manager-info").html("<i class='fa fa-exclamation-circle icon-danger'></i> " +
                                    "{% trans %}HUMMM Plugin manager is in unknown state {% endtrans %} (" + data.content.status + ")" +
                                    "{% trans %}check plugin_rfplayer.log in domogik log directory{% endtrans %}." +
                                    "<br>{% trans %}Error{% endtrans %} : " + data.content.error );
                       };
                    };
                };
            };
        };
        if (activeDongle != "" && activeDongle != "tools") {
            requestRefreshDongle('getinfos', activeDongle);
        }
    });
</script>

{% endblock %}
