{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
{% include theme("client_menu.html") %}

{% include "plugin_rfplayer_menu.html" %}

<div class='container-fluid'>
    <h3>{% trans %}RFPlayer Plugin Tools{% endtrans %}</h3>
    <div class="row">
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h4>{% trans %}Plugin log{% endtrans %}</h4>
                </div>
                <div class='panel-body' id="logCTRL">
                    <div class='row'>
                        <div class="col-xs-6 col-md-3">
                            <label for="nbLines">Number of lines to show</label>
                            <input id="nbLines" type="number" class="form-control" value="50">
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="input-group">
                                <button id="logBegin" type="button" class="btn btn-default">
                                    <i class="fa fa-refresh" id="logBegin-ic" style="color:blue"></i>
                                   <span> {% trans %}View from beginning{% endtrans %}</span>
                                </button>
                             </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="input-group">
                                <button id="logEnd" type="button" class="btn btn-default">
                                    <i class="fa fa-refresh" id="logEnd-ic" style="color:blue"></i>
                                   <span> {% trans %}View until end{% endtrans %}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id='logDisplay' style="height:300px;overflow:auto;">{% trans %}Click refresh button{% endtrans %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $( document ).ready(function() {
        $("#logBegin, #logEnd").click(function(e) {
            var id = this.id;
            $("#"+id+"-ic").addClass('fa-spin');
            if (id == 'logBegin') {
                var from = 'top';
            } else {
                var from = 'end';
            };
            var lines = parseInt($("#nbLines").val());
            sendRequest("rfplayer.plugin.getlog", {"lines": lines, "from": from}, function(data, result) {
                $("#"+id+"-ic").removeClass('fa-spin');
                if (result == "error" || data.result == "error") {
                    $('#logDisplay').html('{% trans %}Get log error{% endtrans %} : ' + data.content.error);
                    new PNotify({
                        type: 'error',
                        title: 'Get log fail.',
                        text: data.content.error,
                        delay: 6000
                    });
                } else {
                    var log = "";
                    for (var i = 0; i <data.content.data.length; i++) {
                        log = log + data.content.data[i] + '<br>'
                        };
                    $('#logDisplay').html(log);
                };
            });
        });
    });
</script>

{% endblock %}
